:root {
    --crt-color: rgb(80, 255, 150);
    --crt-glow: 0 0 2px, 0 0 2px;
    --crt-color-dim: rgb(60, 180, 100);
    --crt-color-very-dim: rgb(44, 94, 44);
    --crt-backcolor: rgb(52, 77, 50);
}

::selection {
  background: var(--crt-color);
  color: var(--crt-color-very-dim);
}